/* =Buttons
----------------------------------------------- */
.button {
    position: relative;
}

input[type="submit"] {
    cursor: pointer;
}

.button > a, input[type="submit"] {
    display: inline-block;
    padding: em($small) em($xlarge);
    border: 1px solid;
    font-family: "Ubuntu";
    @include font-size($med);
    font-weight: $font-weight-light;
}

.button > a {
    width: 100%;

    @include respond(desktop) {
        width: auto;
    }
}

input[type="submit"] {
    width: 97.5%;

    @include respond(desktop) {
        width: auto;
    }
}

.dark .button.standard {
    > a {
        color: get-color("white");
        border-color: get-color("white");
        transition: $base-transition;
    }

    > a:hover, > a:active {
        color: get-color("dark-gray");
        background: get-color("white");
    }
}

.light .button.standard {
    > a {
        color: get-color("dark-gray");
        border-color: get-color("dark-gray");
        transition: $base-transition;
    }

    > a:hover, > a:active {
        color: get-color("white");
        background: get-color("dark-gray");
    }
}

.light input[type="submit"] {
    color: get-color("dark-gray");
    border-color: get-color("dark-gray");
    background: none;
    transition: $base-transition;
}

.light input[type="submit"]:hover,
.light input[type="submit"]:active {
    color: get-color("white");
    background: get-color("dark-gray");
}

// color specific buttons
@each $colorName, $color in $colors {
    .#{$colorName}.button.standard {
        > a:hover, > a:active {
            color: get-color("white");
            border-color: get-color($color);
            background: get-color($color);
        }
    }

    .gform_wrapper.#{$colorName}_wrapper input[type="submit"]:hover,
    .gform_wrapper.#{$colorName}_wrapper input[type="submit"]:active {
        color: get-color("white");
        border-color: get-color($color);
        background: get-color($color);
    }
}

.button.solid {
    opacity: 0.2;
    transition: opacity 0.3s;
}

// color specific buttons
@each $colorName, $color in $colors {
    .#{$colorName}.button.solid {
        > a {
            color: get-color("white");
            border-color: get-color($color);
            background: get-color($color);
        }

        > a:hover, > a:active {
            color: get-color("white");
            border-color: get-color($color);
            background: get-color($color);
        }
    }
}
