/* =Forms
----------------------------------------------- */
.gform_wrapper .top_label .gfield_label {
    font-family: "Ubuntu";
    @include font-size($norm);
    font-weight: 400;
}

.gform_wrapper .top_label li.gfield.gf_left_third,
.gform_wrapper .top_label li.gfield.gf_middle_third,
.gform_wrapper .top_label li.gfield.gf_right_third {
    @include respond(all-phones) {
        width: 100%;
        margin-left: 0 !important;
    }
}

.gform_wrapper .top_label li.gfield.gf_left_half,
.gform_wrapper .top_label li.gfield.gf_right_half {
    @include respond(all-phones) {
        width: 100%;
    }
}

.gform_wrapper {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        padding: em($small) 0;
        border: 1px solid get-color("black");
    }
}

.custom-select .ginput_container {
    width: 97.5%;
    padding: em(5px) 0;
    position: relative;
    border: 1px solid get-color("black");
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 5px;
        font-family: "entypo";
        @include font-size(20px);
        color: get-color("black");
        pointer-events: none;
    }

    select {
        width: 102% !important;
        padding: 5px;
        position: relative;
        left: 5px;
        border: 0;
        border-radius: 0;
        background: transparent;
        font-size: 16px;
        line-height: 1;
        -webkit-appearance: none;
    }
}
