/* =Layout
----------------------------------------------- */
svg.track-piece, svg.filters {
    position: absolute;
    width: 100%;
    height: 100vh;
}

svg.track-piece image {
    width: 30px;
    height: 30px;
}

svg.track-piece circle {
    fill: get-color("white");
    opacity: 0.25;
}

svg.track-piece {
    display: none;
    @include visible(desktop);
    pointer-events: none;

    path {
        stroke: inherit;
        stroke-width: 1px;
        fill: none;
    }
}

.l-full-section.hero .track-piece path {
    stroke: get-color("white");
    stroke-width: 1px;
    fill: none;
}

.l-full-section.about .track-piece path {
    stroke: get-color("green");
    stroke-width: 1px;
    fill: none;
}

.l-full-section.services .track-piece path {
    stroke: get-color("red");
    stroke-width: 1px;
    fill: none;
}

.l-full-section.work .track-piece path {
    stroke: get-color("purple");
    stroke-width: 1px;
    fill: none;
}

.l-full-section.blog .track-piece path {
    stroke: get-color("yellow");
    stroke-width: 1px;
    fill: none;
}

.l-full-section.contact .track-piece path {
    stroke: get-color("brown");
    stroke-width: 1px;
    fill: none;
}

// turn the section/article/aside tags into a sidebar with content
section {
    @include row();
    transform: translateZ(0);
}

section > article {
    @include hybrid(10, false, false);
    @include push(1, 'hybrid');
}

section > aside {
    @include hybrid(3, false, false);
    @include push(1, 'hybrid');

    // creates some space above and below the sidebar on mobile widths
    @include respond(all-phones) {
        margin-top: em($xxlarge);
        margin-bottom: em($larger);
    }
}

// lists
ul.disc {
    list-style: disc;
}

// fixes the WordPress admin bar on mobile widths
body {
    overflow-x: hidden;

    @include respond("max-width: 782px") {
        position: static;
    }

    &::before {
        content: 'mobile';
        display: none;

        @include respond(desktop) {
            content: 'desktop';
        }
    }
}

// makes the footer a sticky footer
.site {
    min-height: 100%;
    position: relative;
    background-color: get-color("bg-gray");
    transition: all 0.5s;
    //transform: translate(0);
    //backface-visibility: hidden;

    @include respond(desktop) {
        //transform: none;
    }
}

.site.is-pushed {
    transform: translate(-390px);
}

.site.is-nav-active {
    transform: translate(-80%);
}

body.is-pushed {
    overflow: hidden;
}

// turn the section/article/aside tags into a sidebar with content
/*section {
    @include row();
}

article {
    @include hybrid(11, false, false);
}

aside {
    @include hybrid(4, false, false);
    @include push(1, 'hybrid');

    // creates some space below the sidebar on mobile widths
    @include respond(all-phones) {
        margin-bottom: em($larger);
    }
}*/

.l-v-margin {
    margin-top: em($norm);

    &.big {
        margin-top: em($big);
    }

    &.xxxlarge {
        margin-top: em($xxxlarge);
    }

    &.xxlarge {
        margin-top: em($xxlarge);
    }

    &.xlarge {
        margin-top: em($xlarge);
    }

    &.larger {
        margin-top: em($larger);
    }

    &.large {
        margin-top: em($large);
    }

    &.medium {
        margin-top: em($med);
    }

    &.short {
        margin-top: em($small);
    }
}

.l-mobile-margin {
    margin-top: em($large);

    @include respond(desktop) {
        margin-top: 0;
    }
}

.l-ignore-overlay,
.l-section,
.l-half-section,
.l-full-section {
    position: relative;
}

.l-full-section {
    width: 100%;
    min-height: 100vh;
}

.l-half-section {
    width: 100%;
    position: absolute;

    @include respond(desktop) {
        width: 50%;
    }

    &.left, &.right {
        @include respond(desktop) {
            height: 100% !important;
            top: 0 !important;
        }
    }

    &.left {
        top: 0;
        left: 0;
        height: 60%;
    }

    &.right {
        top: 50%;
        right: 0;
        height: 50%;
    }
}

.l-full-section .background,
.l-section .background,
.l-section.picture-bg .background {
    width: 100%;
    height: 100%;
    @include full-bg();
}

.l-full-section .background,
.l-section.hero .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.l-full-section.hero .background,
.l-section.hero .background {
    @include respond(desktop) {
        position: fixed;
    }
}

.l-half-section .background,
.l-section.picture-bg .background {
    position: absolute;
}

.background.stuck {
    @include respond(desktop) {
        position: fixed;
    }
}

.l-full-section .copy {
    padding-top: 20vh;

    @include respond(desktop) {
        padding-top: 30vh;
    }
}

.l-section.hero .copy {
    padding-top: em($absurd);
    padding-bottom: em($xxxlarge);

    a {
        color: get-color("brown");
        font-style: italic;
        text-decoration: underline;
    }
}

.l-full-section .call-to-action {
    position: absolute;
    bottom: 30px;

    @include respond(desktop) {
        position: static;
    }
}

.l-section.full-picture {
    line-height: 0;

    img {
        width: 100%;
    }
}

.l-spaced {
    margin: 0 em($small);
}

.l-bordered {
    padding-top: em($norm);
    padding-bottom: em($norm);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.light .l-bordered {
    border-color: get-color("dark-gray");
}

.dark .l-bordered {
    border-color: get-color("white");
}

.l-padded {
    padding-top: em($big);
    padding-bottom: em($big);
}

.l-padded-small {
    padding-top: em($xlarge);
    padding-bottom: em($xlarge);
}

.l-padded-tiny {
    padding-top: em($med);
    padding-bottom: em($med);
}

.l-float-right {
    float: right;
}

.l-float-left{
    float: left;
}

.l-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: 0;
}

.l-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.l-mobile {
    @include hidden(desktop);
}

.l-mobile-hidden {
    display: none;
    @include visible(desktop);
}

.panel-grid {
    position: relative;
}

.fixed-background {
    background-attachment: fixed;
}

.gradient.overlay {
    background: linear-gradient(to right, rgba(40, 40, 40, 0.25), rgba(40, 40, 40, 0.5));
}

.single-casestudies {
    .panel-grid {
        background-color: get-color("white");
    }

    .float-image-right .panel-first-child {
        float: right;

        @include respond("max-width: 767px") {
            float: none;
        }
    }

    .float-image-left .panel-first-child {
        float: left;

        @include respond("max-width: 767px") {
            float: none;
        }
    }
}

.baldwin-two-column-row {
    //@extend .row;
    //padding-top: 20px;

    .panel-grid-cell {
        width: 42.74554% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        @include respond("max-width: 767px") {
            width: auto !important;
        }
    }

    .panel-grid-cell:first-child {
        margin-left: 6.36161%;

        @include respond("max-width: 767px") {
            margin-left: 0;
        }
    }

    .panel-grid-cell:nth-child(2) {
        margin-left: 1.78571%;
        margin-right: 6.36161%;

        @include respond("max-width: 767px") {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.baldwin-one-column-row {
    .panel-grid-cell {
        width: 87.27679% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 6.36161%;

        @include respond("max-width: 767px") {
            width: auto !important;
            margin-left: 0;
        }
    }
}

.sow-image-container {
    line-height: 0;
}
