/* =Mixins
----------------------------------------------- */
// full width/height background
@mixin full-bg($horizontal: center, $vertical: center) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: $horizontal $vertical;
}

// get a color from the color map
@function get-color($color) {
    @if map-has-key($colors, $color) {
        $color: map-get($colors, $color);
    } @else {
        @if type-of($color) != color {
            @error "Color name: `#{$color}` not found."
        }
    }

    @return $color;
}
