/* =Modules
----------------------------------------------- */
/* === GENERAL PURPOSE === */
hr {
    width: em(100px);
    height: 2px;
    border-color: inherit;

    &.center {
        margin-left: auto;
        margin-right: auto;
    }
}

span.left,
li.left {
    float: left;
}

span.right,
li.right {
    float: right;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.black.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.white.overlay {
    background-color: rgba(242, 242, 242, 0.85);
}

.gray.overlay {
    background-color: get-color("darkest-gray");
    opacity: 0.8;
}

.content-none {
    @include respond(all-phones) {
        margin-bottom: em($xxlarge);
    }
}

.half-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    @include respond(desktop) {
        width: 60%;
    }
}

/* === HEADER === */
.masthead {
    display: none;
    height: 100px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);

    @include respond(desktop) {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .logo {
        flex-grow: 1;

        svg {
            width: 150px;
            height: 150px;
            fill: get-color("white");
            margin-top: -20px;
        }
    }

    .menu {
        ul {
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0;
        }

        li {
            padding: 0 20px;
            color: get-color("white");
            font-weight: 700;

            a {
                color: inherit;
            }
        }
    }
}

.mobile-masthead {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 9;

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: get-color("black");
        opacity: 0.4;
    }

    .mobile-logo {
        padding-left: 1em;
    }
}

.mobile-masthead .baldwin-b-logo {
    height: 60px;
    padding: em($xsmall) em($norm);

    path {
        transition: all 0.3s;
    }
}

.no-touchevents .mobile-masthead .baldwin-b-logo:hover {
    path {
        fill: get-color("yellow") !important;
    }
}

.hero-logo {
    display: none;
    position: absolute;
    top: em($larger);
    left: em($larger);
    z-index: 9;
    @include visible(desktop);

    path {
        transition: fill 0.3s;
    }

    > a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.no-touchevents .hero-logo:hover {
    path {
        fill: get-color("yellow") !important;
    }
}

/* === FOOTER === */
.site-footer {
    text-align: center;

    @include respond("min-width: 1024px") {
        text-align: left;
    }
}

.footer-section {
    padding: 10px $gutter-in-px;

    &.internal, &.external {
        display: inline-block;
    }

    &.internal {
        text-align: left;
    }

    @include respond("min-width: 1024px") {
        width: 25%;
        float: left;

        &.internal {
            width: 22.5%;
        }

        &.external {
            width: 30%;
        }
    }
}

.footer-section .pushed {
    @include respond(desktop) {
        padding-left: 5%;
    }
}

.footer-logo {
    display: inline-block;
    position: relative;

    a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    path {
        transition: all 0.3s;
    }
}

.footer-logo a:hover + svg path {
    fill: get-color("yellow") !important;
}

.business-info {
    margin-top: em($large);

    &:first-child {
        margin-top: 0;
    }

    @include respond(desktop) {
        margin-top: 0;
    }
}

.business-info.internal {
    @include respond("max-width: 1023px") {
        @include respond("min-width: 768px") {
            width: 40% !important;
        }
    }
}

.business-info.external {
    @include respond("max-width: 1023px") {
        @include respond("min-width: 768px") {
            width: 50% !important;
            margin-top: em($large);
        }
    }
}

.business-logos {
    span {
        margin-right: em(22px);

        &:last-child {
            margin-right: 0;
        }
    }
}

.business-logos svg {
    height: 50px;
}

.business-logos svg,
.baldwin-logo-white {
    path {
        transition: all 0.3s;
    }

    &:hover path {
        fill: get-color("yellow") !important;
    }
}

.social-links {
    span {
        margin-right: em($med);

        &:last-child {
            margin-right: 0;
        }
    }
}

.business-logos, .social-links, .copyright {
    text-align: left;

    @include respond(desktop) {
        text-align: center;
    }
}

/* === HOME SECTIONS === */
/* === HERO === */
#video-fallback {
    @include hidden(desktop);
}

.l-full-section.hero {
    overflow: hidden;
}

.home-section-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.no-touchevents .home-section-link:hover ~ .call-to-action .button.solid {
    opacity: 1.0;
}

.home-video {
    display: none;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    @include visible(desktop);
}

#video-overlay {
    position: absolute;

    @include respond(desktop) {
        position: fixed;
    }
}

/* === ABOUT === */
.l-full-section.about {
    .background {
        background-image: url('assets/img/bg-about.png');
    }

    .gradient.overlay {
        background: linear-gradient(rgba(0, 0, 0, 0), get-color("green"));
        opacity: 0.4;
    }
}

/* === SERVICES === */
.l-full-section.services {
    .background {
        background-image: url('assets/img/bg-services.png');
    }

    .gradient.overlay {
        background: linear-gradient(rgba(0, 0, 0, 0), get-color("red"));
        opacity: 0.4;
    }
}

.service-boxes {
    display: none;
    position: relative;

    img {
        height: 65px;
    }

    @include visible(desktop);
}

.service-box {
    display: inline-block;
    width: 160px;
    height: 255px;
    padding: em($med) em($xlarge) 0;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s;
}

.service-info {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
}

.service-line {
    width: 50%;
    height: 1px;
    margin: 0 auto;
    background: get-color("darkest-gray");
}

.service-box:hover {
    color: get-color("red");
    background: get-color("white");

    .service-info {
        opacity: 1;
    }
}

/* === WORK === */
.l-full-section.work {
    .background {
        background-image: url('assets/img/bg-work.png');
    }

    .gradient.overlay {
        background: linear-gradient(rgba(0, 0, 0, 0), get-color("purple"));
        opacity: 0.4;
    }
}

/* === BLOG === */
.l-full-section.blog {
    .background {
        background-image: url('assets/img/bg-blog.png');
    }

    .gradient.overlay {
        background: linear-gradient(rgba(0, 0, 0, 0), get-color("yellow"));
        opacity: 0.4;
    }
}

/* === CONTACT === */
.l-full-section.contact {
    .background {
        background-image: url('assets/img/bg-contact.png');
    }

    .gradient.overlay {
        background: linear-gradient(rgba(0, 0, 0, 0), get-color("brown"));
        opacity: 0.4;
    }
}

/* === PAGES === */
/* === ABOUT PAGE === */
.page.about {
    .hero {
        .background {
            background-image: url('assets/img/hero-about.jpg');
        }
    }

    .l-section {
        .background {
            position: absolute;
            background-image: url('assets/img/about-awards.jpg');
        }
    }

    .l-section.team {
        .background {
            width: 100%;
            height: 100%;
            position: absolute;
            @include full-bg();
            background-image: url('assets/img/bg-contact.png');
        }
    }

    .half-gradient {
        background: linear-gradient(to right, rgba(173, 150, 0, 0.8), get-color("green"));
    }

    .gradient.overlay {
        background: linear-gradient(to right, rgba(40, 40, 40, 0.25), rgba(40, 40, 40, 0.5));
    }
}

#twitter-carousel {
    .owl-pagination {
        text-align: center;
    }

    .owl-page {
        display: inline-block;
        width: 10px;
        height: 10px;
        @include shape(circle);
        margin: 0 em(3px);
        background-color: get-color("white");
        opacity: 0.5;

        &.active {
            opacity: 1;
        }
    }
}

.team-list li {
    @include fancytiles(3, 2, 1, '0px', '600px', '960px');
    margin: em($large) 0;
}

.team-member {
    @include full-bg();
    @include shape(circle);
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;

    .team-member-copy {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
    }

    .overlay {
        @include shape(circle);
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }

    .name {
        line-height: 1.5em;
    }

    .position {
        line-height: 1em;
    }
}

.team-member.is-active {
    .team-member-copy {
        opacity: 1;
    }

    .overlay {
        opacity: 0.75;
    }
}

.team-bio {
    max-width: 420px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.6s;
}

.team-bio-pic {
    position: relative;
    line-height: 0;
}

.team-bio-pic:after {
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, get-color("bg-gray"), rgba(0, 0, 0, 0));
}

.team-bio-pic > img {
    width: 100%;
}

.team-bio-copy {
    padding: em($med) em($med);
}

.team-bio.is-pushed {
    z-index: 99;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s;
}

.team-bio .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
}

/* === SERVICES PAGE === */
.page.services {
    .hero {
        .background {
            background-image: url('assets/img/hero-services.jpg');
        }
    }
}

.services-icon {
    display: none;

    @include respond(desktop) {
        display: inline;
        width: 90%;
    }
}

.l-section.process .background {
    position: absolute;
    @include full-bg(bottom);
    background-image: url('assets/img/services-subway.jpg');

    @include respond(desktop) {
        background-attachment: fixed;
    }
}

.process-infographic {
    display: none;
    width: 100%;
    height: 225px;
    background-size: auto 215px;
    background-repeat: no-repeat;
    background-position: center center;
    @include visible(desktop);

    @include respond("min-width: 1100px") {
        height: 315px;
        background-size: auto;
    }
}

.mobile-process-infographic {
    @include hidden(desktop);

    span {
        @include shape(circle);
        display: inline-block;
        width: 20px;
        height: 20px;
        padding-top: 2px;
        padding-left: 6px;
    }
}

/* === BLOG PAGE === */
.page.blog {
    .hero {
        .background {
            background-image: url('assets/img/hero-blog.jpg');
        }
    }
}

.filters .current > a {
    color: get-color("white") !important;
    border-color: get-color("yellow") !important;
    background: get-color("yellow") !important;
}

.blog-item:nth-child(odd) > div {
    background-color: get-color("white");
}

.blog-item:nth-child(even) > div {
    background-color: get-color("light-gray");
}

.blog-item {
    > div, h2, h6, p, hr {
        transition: all 0.3s;
    }

    h6 {
        color: get-color("yellow") !important;
    }

    hr {
        border-color: get-color("yellow");
    }
}

.blog-item.is-active {
    > div {
        background-color: get-color("yellow");
    }

    h2, h6, p {
        color: get-color("white") !important;
    }

    hr {
        border-color: get-color("white") !important;
    }
}

/* === CONTACT PAGE === */
.page.contact {
    .hero {
        .background {
            background-image: url('assets/img/hero-blog.jpg');
        }
    }
}

/* === CASE STUDIES PAGE === */
.page.work {
    .hero {
        .background {
            background-image: url('assets/img/hero-case-studies.jpg');
        }
    }
}

.case-studies-list {
    margin-bottom: 0;
}

.case-study-item {
    overflow: hidden;
    cursor: pointer;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1.1, 1.1);
        filter: blur(4px);
        transition: all 0.3s;

        @include respond(desktop) {
            transform: scale(1, 1);
            filter: blur(0);
        }
    }

    .overlay {
        top: 0;
        left: 0;
        opacity: 0.6;
        transition: all 0.3s;

        @include respond(desktop) {
            opacity: 0.4;
        }
    }
}

.no-touchevents .case-study-item:hover {
    .background {
        transform: scale(1.1, 1.1);
        filter: blur(4px);
    }

    .overlay {
        opacity: 0.5;
    }
}

/* === CASE STUDY PAGE === */
.page.case-study {
    .hero {
        line-height: 0;

        img {
            width: 100%;
        }
    }
}

.market-icon {
    height: 25px;
    vertical-align: middle;
}

.market-copy {
    margin-left: em($xsmall);
    line-height: 25px;
    vertical-align: middle;
}

.page.case-study img {
    &.l-float-right {
        margin-left: em($larger);
    }
}

/* === CASE STUDIES === */
#mu-bg {
    background-image: url('assets/img/case-studies/mu2.png');

    .overlay {
        background: linear-gradient(to top, rgba(219, 25, 49, 0.6), rgba(219, 25, 49, 0.9));
    }
}

.picture-bg .copy {
    padding-top: em($large);

    @include respond(desktop) {
        padding-top: em($big);
    }
}

/* === EASY INSTAGRAM CUSTOM TEMPLATE === */
.widget_easy_instagram_widget_base {
    h1 {
        display: none;
    }
}

.easy-instagram-list {
    position: relative;
    line-height: 0;

    .easy-instagram-item {
        display: none;
        width: 50%;
        padding: 0;
        position: relative;
        float: left;

        &:nth-child(-n+2) {
            display: inline-block;
        }

        @include respond("min-width: 420px") {
            width: 33.3%;

            &:nth-child(-n+3) {
                display: inline-block;
            }
        }

        @include respond("min-width: 600px") {
            width: 25%;

            &:nth-child(-n+4) {
                display: inline-block;
            }
        }

        @include respond(desktop) {
            width: 20%;

            &:nth-child(-n+5) {
                display: inline-block;
            }
        }

        @include respond("min-width: 960px") {
            width: 16.66%;

            &:nth-child(-n+6) {
                display: inline-block;
            }
        }

        @include respond("min-width: 1120px") {
            width: 12.5%;
            display: inline-block;
        }
    }

    .instagram-feed-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        transition: all 0.3s;
    }

    .overlay {
        opacity: 0.9;
    }

    .icon {
        position: absolute;
        top: 10px;
        left: 5px;
    }

    .caption {
        position: absolute;
        bottom: 0;
        padding: 15px 10px;
    }
}

.easy-instagram-item:hover {
    .instagram-feed-overlay {
        transform: translateY(0);
    }
}

/* === BLOG PAGES === */
.page.blog {
    .hero {
        line-height: 0;

        img {
            width: 100%;
        }
    }
}

/* === OPEN GRAPH DATA === */
.row.open-graph-data {
    padding-left: 0;
    padding-right: 0;
}

/* === GALLERY SLIDER === */
#gallery-slider {
    .owl-pagination {
        text-align: center;
    }

    .owl-page {
        display: inline-block;
        width: 10px;
        height: 10px;
        @include shape(circle);
        margin: 0 em(3px);
        background-color: get-color("bg-gray");
        opacity: 0.5;

        &.active {
            opacity: 1;
        }
    }
}
