/* =Navigation
----------------------------------------------- */
.floating-nav {
    position: fixed;
    right: 30px;
    top: calc(100vh / 2);
    transform: translateY(-50%);
    z-index: 9;
    @include hidden(all-phones);
}

.floating-nav ul {
    list-style: none;
}

.floating-nav li {
    width: 20px;
    height: 20px;
    margin-bottom: em($xsmall);
    position: relative;
    cursor: pointer;
}

.floating-nav li > img {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.3s;
}

.floating-nav .icon-black {
    &.is-active {
        opacity: 0.3;
    }
}

.floating-nav li.current > img:not(.icon-black) {
    opacity: 1;
}

.floating-nav li > p {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: -1px;
}

.floating-nav .is-text {
    img {
        display: none;
    }

    > p {
        display: block;
    }
}

.floating-nav a {
    color: inherit !important;
}

.quick-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 9;
    @include visible(desktop);
}

.mobile-quick-menu {
    position: absolute;
    top: 24px;
    right: em($norm);
    @include hidden(desktop);
}

.quick-menu .floating-nav {
    position: relative;
    top: 5px;
    right: -8px;
    transform: none;

    li {
        transform: translateX(100px);
    }
}

@for $i from 1 through 5 {
    .quick-menu .floating-nav li:nth-child(#{$i}) {
        $delay: $i * 0.1;
        transition: all 0.3s #{$delay}s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.quick-menu .floating-nav li > p {
    left: 0;
    transform: translateX(-25%);
}

.quick-menu .floating-nav.is-active {
    li {
        transform: translateX(0);
    }
}

.menu-button {
    width: 40px;
    height: 20px;

    .line span {
        width: 35px;
        height: 2px;
        position: absolute;
        background-color: get-color("yellow");
    }

    .line.one {
        transform: translateY(10px);
        transition: all 0.25s 0.25s;
    }

    .line.one span {
        transform: rotate(0);
        transition: all 0.25s;
    }

    .line.two span {
        transform: rotate(0);
        transition: all 0.25s;
    }
}

.menu-button-wrapper.is-active {
    .line.one {
        transform: translateY(0);
        transition: all 0.25s;
    }

    .line.one span {
        transform: rotate(45deg);
        transition: all 0.25s 0.25s;
    }

    .line.two span {
        transform: rotate(-45deg);
        transition: all 0.25s 0.25s;
    }
}

.mobile-quick-menu .menu-button {
    transform: rotate(0);
    transition: transform 0.25s 0.5s;

    .line.one {
        transform: translateY(10px);
        transition: transform 0.25s 0.25s;
    }

    .line.two {
        transform: translateY(0);
        transition: transform 0.25s 0.25s;
    }

    .line span {
        transform: rotate(0);
        transition: transform 0.25s;
    }
}

.site.is-nav-active .mobile-quick-menu .menu-button {
    transform: rotate(-90deg);
    transition: transform 0.25s;

    .line.one {
        transform: translateY(0);
        transition: transform 0.25s 0.25s;
    }

    .line.two {
        transition: transform 0.25s 0.25s;
    }

    .line.one span {
        transform: rotate(45deg);
        transition: transform 0.25s 0.5s;
    }

    .line.two span {
        transform: rotate(-45deg);
        transition: transform 0.25s 0.5s;
    }
}

.mobile-menu-modal {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    transform: translateZ(0);
    backface-visibility: hidden;
    @include hidden(desktop);
}

.mobile-menu-logo > svg {
    width: 150px;
    padding: em($xsmall) em($norm);
}

.menu-items {
    padding-left: 5em;
}

.menu-items li {
    margin-top: 15px;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 5%;
        height: 2px;
        margin-top: 10px;
        position: absolute;
        left: 50%;
        background-color: get-color("yellow");
        transform: translateX(-50%);
    }

    &:last-child:after {
        display: none;
    }
}

.scroll-down-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.scroll-down-arrows {
    position: relative;
}

.scroll-down-arrows i {
    position: absolute;
    bottom: 30px;

    &.one {
        transform: translate(-50%, 0);
        opacity: 0.25;
    }

    &.two {
        transform: translate(-50%, 0);
        opacity: 0.5;
        transition: all 0.2s;
    }

    &.three {
        transform: translate(-50%, 0);
        transition: all 0.2s;
    }
}

.scroll-down-arrows.is-active i {
    &.one {
        transform: translate(-50%, 0);
    }

    &.two {
        transform: translate(-50%, 12px);
        transition: all 0.5s;
    }

    &.three {
        transform: translate(-50%, 24px);
        transition: all 0.5s;
    }
}

.nav-arrows {
    padding: 20px 20px 0 20px;
    position: relative;
    background-color: get-color("white");

    @include respond(desktop) {
        padding: 0;
        margin-top: 30px;
        position: absolute;
        right: 30px;
        z-index: 9;
    }
}

.nav-arrows .nav-arrow {
    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    @include respond(desktop) {
        float: none !important;
    }
}

.nav-arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    @include shape(circle);
    background-color: get-color("bg-gray");

    i {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @include font-size(20px);
        color: get-color("white");
        transition: all 0.3s;
    }

    @include respond(desktop) {
        display: block;
        margin-top: 20px;
    }
}

.no-touchevents .nav-arrow:hover {
    i {
        color: get-color("yellow");
    }
}
