/* =Typography
----------------------------------------------- */
// color classes
@each $colorName, $color in $colors {
    .text-#{$colorName} {
        color: $color !important;
    }

    .bg-#{$colorName} {
        background-color: $color !important;
    }

    .border-#{$colorName} {
        border-color: $color !important;
    }
}

.mobile-text-center {
    text-align: center;

    @include respond(desktop) {
        text-align: left;
    }
}

// font classes
.ubuntu {
    font-family: "Ubuntu";
}

.merriweather {
    font-family: "Merriweather";
}

a {
    transition: all 0.3s;
}

.light.typography {
    color: $body-font-color;

    a {
        color: $body-link-color;
    }

    a:hover {
        color: $body-link-hover-color;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $header-font-color;
    }
}

.dark.typography {
    color: $body-font-color-dark;

    a {
        color: $body-link-color-dark;
    }

    a:hover {
        color: $body-link-hover-color-dark;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $header-font-color-dark;

        a {
            color: $header-link-color-dark;
        }

        a:hover {
            color: $header-link-hover-color-dark;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    color: inherit;

    &.no-pad {
        padding: 0;
        line-height: 1em;
    }

    &.spaced {
        letter-spacing: 2px;
    }
}

h1 {
    @include font-size(40px);

    @include respond(desktop) {
        @include font-size(60px);
    }

}

h2 {
    @include font-size(34px);

    @include respond(desktop) {
        // 48px
        @include font-size($xxlarge);
    }
}

h3 {
    @include font-size(36px);
}

h4 {
    @include font-size(18px);

    @include respond(desktop) {
        @include font-size(30px);
    }

    &.smaller {
        @include font-size(24px);
    }
}

h5 {
    @include font-size(18px);

    &.bigger {
        @include font-size(20px);
    }
}

h6 {
    @include font-size(14px);

    &.bigger {
        // 16px
        @include font-size($norm);
    }

    &.smaller {
        @include font-size(12px);
    }
}

li {
    font-family: $font-family;
}

p,li {
    @include font-size(14px);

    @include respond(desktop) {
        @include font-size($med);
    }
}

p.no-margin, .no-margin > p {
    margin-bottom: 0;
}

p.short-line, .short-line > p {
    line-height: em(20px);
}

p.small, .small > p {
    @include font-size(14px);
}

p.smaller, .smaller > p {
    @include font-size(12px);
}

p.tiny, .tiny > p {
    @include font-size(10px);
}

.xbold {
    font-weight: $font-weight-xbold;
}

.bold {
    font-weight: $font-weight-bold;
}

.semibold {
    font-weight: $font-weight-semibold;
}

.regular {
    font-weight: $font-weight-regular;
}

.light {
    font-weight: $font-weight-light;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}
