/* =Widgets
----------------------------------------------- */
.widget_baldwin_collaborators_box {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    li {
        flex-basis: 50%;
        text-align: center;
        border-right: 1px solid get-color("black");

        &:nth-child(2n+2) {
            border-right: 0;
        }

        @include respond(desktop) {
            flex-basis: 25%;

            &:nth-child(2n+2) {
                border-right: 1px solid get-color("black");
            }

            &:nth-child(4n+4) {
                border-right: 0;
            }
        }
    }

    img {
        max-width: 90%;
    }
}

.widget_baldwin_case_study_box {
    margin-bottom: 0 !important;
}
