/* Fonts */

// Set local icon font
@font-face {
  font-family: '#{$icons}';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/icons/#{$icons}.eot);
  src: url('assets/fonts/icons/#{$icons}.eot?#iefix') format('ie9-skip-eot'),
       url('assets/fonts/icons/#{$icons}.woff') format('woff'),
       url('assets/fonts/icons/#{$icons}.ttf')  format('truetype');
}

// Merriweather
@font-face {
    font-family: '#{$font-family}';
    font-style: normal;
    font-weight: $font-weight-light;
    src: url(assets/fonts/#{$font-family}/#{$font-family}-light-webfont.eot);
    src: url('assets/fonts/#{$font-family}/#{$font-family}-light-webfont.eot?#iefix') format('ie9-skip-eot'),
         url('assets/fonts/#{$font-family}/#{$font-family}-light-webfont.woff') format('woff'),
         url('assets/fonts/#{$font-family}/#{$font-family}-light-webfont.ttf')  format('truetype');
}

@font-face {
    font-family: '#{$font-family}';
    font-style: italic;
    font-weight: $font-weight-light;
    src: url(assets/fonts/#{$font-family}/#{$font-family}-lightitalic-webfont.eot);
    src: url('assets/fonts/#{$font-family}/#{$font-family}-lightitalic-webfont.eot?#iefix') format('ie9-skip-eot'),
         url('assets/fonts/#{$font-family}/#{$font-family}-lightitalic-webfont.woff') format('woff'),
         url('assets/fonts/#{$font-family}/#{$font-family}-lightitalic-webfont.ttf')  format('truetype');
}

// Ubuntu
@font-face {
    font-family: '#{$header-font-family}';
    font-style: normal;
    font-weight: $font-weight-light;
    src: url(assets/fonts/#{$header-font-family}/#{$header-font-family}-light-webfont.eot);
    src: url('assets/fonts/#{$header-font-family}/#{$header-font-family}-light-webfont.eot?#iefix') format('ie9-skip-eot'),
         url('assets/fonts/#{$header-font-family}/#{$header-font-family}-light-webfont.woff') format('woff'),
         url('assets/fonts/#{$header-font-family}/#{$header-font-family}-light-webfont.ttf')  format('truetype');
}

@font-face {
    font-family: '#{$header-font-family}';
    font-style: italic;
    font-weight: $font-weight-light;
    src: url(assets/fonts/#{$header-font-family}/#{$header-font-family}-italic-webfont.eot);
    src: url('assets/fonts/#{$header-font-family}/#{$header-font-family}-italic-webfont.eot?#iefix') format('ie9-skip-eot'),
         url('assets/fonts/#{$header-font-family}/#{$header-font-family}-italic-webfont.woff') format('woff'),
         url('assets/fonts/#{$header-font-family}/#{$header-font-family}-italic-webfont.ttf')  format('truetype');
}

@font-face {
    font-family: '#{$header-font-family}';
    font-style: normal;
    font-weight: $font-weight-regular;
    src: url(assets/fonts/#{$header-font-family}/#{$header-font-family}-medium-webfont.eot);
    src: url('assets/fonts/#{$header-font-family}/#{$header-font-family}-medium-webfont.eot?#iefix') format('ie9-skip-eot'),
         url('assets/fonts/#{$header-font-family}/#{$header-font-family}-medium-webfont.woff') format('woff'),
         url('assets/fonts/#{$header-font-family}/#{$header-font-family}-medium-webfont.ttf')  format('truetype');
}

@font-face {
    font-family: '#{$header-font-family}';
    font-style: italic;
    font-weight: $font-weight-regular;
    src: url(assets/fonts/#{$header-font-family}/#{$header-font-family}-mediumitalic-webfont.eot);
    src: url('assets/fonts/#{$header-font-family}/#{$header-font-family}-mediumitalic-webfont.eot?#iefix') format('ie9-skip-eot'),
         url('assets/fonts/#{$header-font-family}/#{$header-font-family}-mediumitalic-webfont.woff') format('woff'),
         url('assets/fonts/#{$header-font-family}/#{$header-font-family}-mediumitalic-webfont.ttf')  format('truetype');
}
